**/__pycache__
.amlignore
*.amltmp
*.swp




####################################
# Local environment exclusions
####################################

# local virtual environment
.venv

# Hides VSCode-specific settings
.vscode/settings.json
