**/__pycache__
.amlignore
*.amltmp
*.swp

# Excluding path to python virtual environment
.venv

# Excluding relative path to test output
tests/output/*

# Excluding VSCode workspace file and configuration, since VSCode not widely used at this time
clever-rockies.code-workspace
.vscode

# Excluding flake8 configuration for now; should be included, however, for linting
.flake8

# Excluding local pyright configuration
pyrightconfig.json
tests/output/
*.code-workspace
