**/__pycache__
.amlignore
*.amltmp
*.swp
.venv
.vscode
tests/output/
*.code-workspace
notebooks/
.ipynb_checkpoints/
res/unique_concepts_full.txt
res/unique_targets.txt
tests/output*
run/

# ignore env if local
vaParts/